Legenda para a planilha:

Survived (Sobreviveu): 0 = Não, 1 = Sim

Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º

Sex (Sexo): Sexo do passageiro

Age (Idade): Idade em anos

Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic

Parch: Quantidade de pais / crianças a bordo do Titanic

Ticket (Bilhete): Número do bilhete de embarque

Fare (Tarifa): Tarifa paga pelo Passageiro

Cabin (Cabine): Número de cabine

Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q=Queenstown, S = Southampton)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'/content/train (1).csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# Primeiras impressões:
# Dividir a coluna nome em "Título", 'First Name', 'Last Name'
# Mudar Age para int
# Tratar os NaN em "Cabin"

In [4]:
data.info()
# Existem 177 missing values em Age.
# Existem 2 missing values em Embarked

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
data.duplicated().sum()
# Já que não há duplicados, seguimos.

0

In [20]:
def separador_nome(nome):
  last_name, title_and_first_name = nome.split(',')
  title, first_name = title_and_first_name.split(". ", 1)
  return title, first_name, last_name

In [23]:
# Aplicar a função na coluna de contratos para fazer a limpeza dos dados
nomes_separados = data['Name'].apply(lambda x: pd.Series(separador_nome(x)))
nomes_separados

         0                                      1          2
0       Mr                            Owen Harris     Braund
1      Mrs  John Bradley (Florence Briggs Thayer)    Cumings
2     Miss                                  Laina  Heikkinen
3      Mrs          Jacques Heath (Lily May Peel)   Futrelle
4       Mr                          William Henry      Allen
..     ...                                    ...        ...
886    Rev                                 Juozas   Montvila
887   Miss                         Margaret Edith     Graham
888   Miss               Catherine Helen "Carrie"   Johnston
889     Mr                            Karl Howell       Behr
890     Mr                                Patrick     Dooley

[891 rows x 3 columns]

In [24]:
novas_colunas = ['Title', 'First Name', 'Last Name']

# Iterar para adicionar os novos dados nas novas colunas criadas

for i in range (len(novas_colunas)):
  data.insert(loc=data.columns.get_loc('Name') + 1 + i, column = novas_colunas[i], value=nomes_separados[i])

data.head(10)

,PassengerId,Survived,Pclass,Name,Title,First Name,Last Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",Mr,Owen Harris,Braund,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mrs,John Bradley (Florence Briggs Thayer),Cumings,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",Miss,Laina,Heikkinen,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mrs,Jacques Heath (Lily May Peel),Futrelle,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",Mr,William Henry,Allen,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",Mr,James,Moran,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",Mr,Timothy J,McCarthy,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",Master,Gosta Leonard,Palsson,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Mrs,Oscar W (Elisabeth Vilhelmina Berg),Johnson,female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",Mrs,Nicholas (Adele Achem),Nasser,female,14.0,1,0,237736,30.0708,NaN,C

In [26]:
# Após checagem no Google, ambos passageiros embarcaram em Southampton. Atualizando os dados:

data.loc[data.Embarked.isnull(), 'Embarked'] = 'S'
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Title        891 non-null    object
 5   First Name   891 non-null    object
 6   Last Name    891 non-null    object
 7   Sex          891 non-null    object
 8   Age          714 non-null    float64
 9   SibSp        891 non-null    int64
 10  Parch        891 non-null    int64
 11  Ticket       891 non-null    object
 12  Fare         891 non-null    float64
 13  Cabin        204 non-null    object
 14  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(8)
memory usage: 104.5+ KB

In [32]:
# Criar uma mediana de idade baseada em Pclass e Gênero para aplicar nos missing values de Age

data.groupby(['Pclass', 'Sex'])['Age'].median()

data['Age'] = data.Age.fillna(data.groupby(['Pclass', 'Sex'])['Age'].transform('median'))

In [37]:
# Atribuindo a sigla 'NR' (No Register) nos valores nulos de Cabin

data['Cabin'] = data['Cabin'].fillna('NR')

In [40]:
data.info()
data.to_csv('Titanic Data Cleaned.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Title        891 non-null    object
 5   First Name   891 non-null    object
 6   Last Name    891 non-null    object
 7   Sex          891 non-null    object
 8   Age          891 non-null    float64
 9   SibSp        891 non-null    int64
 10  Parch        891 non-null    int64
 11  Ticket       891 non-null    object
 12  Fare         891 non-null    float64
 13  Cabin        891 non-null    object
 14  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(8)
memory usage: 104.5+ KB